<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>

	<!-- build:js -->
	<script src="js/libs/head.load.min.js"></script>
	<script>
		head.load("node_modules/jquery/dist/jquery.min.js",
				"node_modules/json2/lib/JSON2/static/json2.js",
				"node_modules/underscore/underscore-min.js",
				"node_modules/backbone/backbone-min.js",
				"js/app.js",
				"js/router.js",
				"js/libs/bootstrap.js",
				"js/models/global.model.js",
				"js/views/index.view.js",
				"js/views/article.view.js"
		);
	</script>
	<!-- endbuild -->

	<!-- build:css -->
	<script>
		head.load(
				"css/bootstrap.css",
				"css/bootstrap-theme.css",
				"css/app.css"
		);
	</script>
	<!-- endbuild -->

</head>
<body>
<div class="container">
	<menu></menu>
	<div id="inner">
		<header class="header-blur">
			<div class="header-container">
			</div>
		</header>
		<div id="contentWrap">
			<div id="content">
			</div>
		</div>
		<footer>
		</footer>
	</div>
</div>

<!--templates -->
<script class="tmpl-index" type="text/template">
	<div class="template-content">
		<ul id="articles" class="list-group"></ul>
	</div>
</script>
<script class="tmpl-article" type="text/template">
	<div class="template-content">
		<% if(!_.isUndefined(news)){ %>
		<%_.each(news, function(article){%>
		<li class="list-group-item">
			<div class="article-title"><%= article.title %></div>
			<div><%= article.published %></div>
		</li>
		<% }); %>
		<% } %>
	</div>
</script>
</body>
</html>